data/*/*

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
env/
venv/
.venv/
*.env

# Wav files
*.wav

# Jupyter notebooks
.ipynb_checkpoints

# Logs
*.log
*.out

# TensorBoard
runs/

# Macos
.DS_Store
